@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
body{
    margin: 0;
    padding:0px;
   
    font-size: 30px;
    background-color: #424242;
    font-family: 'Roboto' sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
   min-height: 100vh;
}
.time{
    
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    border-radius: 38px;
   background: linear-gradient(145deg,#3b3b3b,#474747);
   box-shadow: 17px 17px 16px #414141
   -17px -17px 16px #343434;
   color: #7e7e7e;
   font-weight: 500 !important;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    margin: 2rem;
    text-align: center;
    
}
.label{
    font-size: 1.4rem;
    color: #7e7e7e;
    margin-top: 20px;
    font-weight: 700px;
    
}
footer{
    position:absolute;
    
    color: white;
    bottom: 2px;
    font-size: 1.5rem;
    
}
a{
    color: white;
   
}

